:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --bcg-color: #2f303a;
  --light-bcg-color: #f5f4fa;
  --filter-item-text-color: #212121;
  --primary-white-color: #ffffff;
  --footer-auth-text-color: rgba(255, 255, 255, 0.6);
  --hero-button-accent-bcg-color: #188ce8;
  --client-icons-color: #afb1b8;
  --join-link-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Header Section */
.header__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* align-items: center; */
}

.logo {
  /* display: flex; */
  text-decoration: none;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo--black {
  color: var(--title-text-color);
}

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__item {
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--filter-item-text-color);
  /* outline: 2px solid black; */
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--active {
  color: var(--accent-color);
}

.auth__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth__item {
  list-style: none;
}

.auth__item + .auth__item {
  margin-left: 50px;
}

.auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
}

.auth__link:hover,
.auth__link:focus {
  color: var(--accent-color);
}

.auth__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero Section */
.hero__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__button {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero__button:hover {
  background-color: var(--hero-button-accent-bcg-color);
}

/* Benefits */
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  list-style: none;
  width: 270px;
}

.benefits__item + .benefits__item {
  margin-left: 30px;
}

.benefits__icon {
  margin-bottom: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--filter-item-text-color);
}

.benefits__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Product */
.product {
  padding-bottom: 94px;
}

.product__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-item-text-color);
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item + .product__item {
  margin-left: 30px;
}

.product__item {
  position: relative;
  list-style: none;
}

.product__layout {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.product__text {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-bcg-color);
}

.team__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member {
  list-style: none;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member + .member {
  margin-left: 30px;
}

.member__meta {
  padding-top: 30px;
  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-item-text-color);
}

.member__position {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--client-icons-color);
  width: 44px;
  height: 44px;
}

.social__link:hover .social__icon {
  fill: var(--primary-white-color);
}

.social__link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* .social__link:hover */
.social__icon {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Client */
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-item-text-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item {
  list-style: none;
}

.client__item + .client__item {
  margin-left: 30px;
}

.client__link {
  display: block;
  color: var(--client-icons-color);
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.client__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  display: block;
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__logo--white {
  color: var(--primary-white-color);
}

.contacts__address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.contacts__item {
  list-style: none;
}

.contacts__item + .contacts__item {
  margin-top: 9px;
}

.contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join__item {
  list-style: none;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.join__link:hover {
  background-color: var(--accent-color);
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing {
  margin-left: auto;
}

.mailing__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: var(--bcg-color);
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__button {
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mailing__icon {
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */